$content-width: 1090px;

.header{
	padding: 0 15px;
	width: 100%;
	background: white;
	box-sizing: border-box;
	border-bottom: solid 1px #e1e8ed;
	position: fixed;
	top: 0;
	left: 0;

	& + *{
		margin-top: 50px;
	}

	&__container{
		margin: 0 auto;
		max-width: $content-width;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__section{
		display: flex;
		align-items: center;
	}

	&__logo{
		height: 30px;
	}	
}