.user-card{
	/* margin-top: 30px;*/
	padding: 0px 10px 0px 0px;
	width: 200px;
	color: #222;
	position: relative;
	bottom: 160px;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;

	&__sticky-container{
		padding-top: 10px;
	}

	&__profile-picture{
		width: 200px;
		height: 200px;
		border: solid 8px white;
		border-radius: 4px;
		box-sizing: border-box;
	}

	&__name{
		font-weight: bold;
	}

	&__role{
		color: Gray;
		font-size: 18px;
		font-weight: 300;
	}

	&__info-list{
		margin: 0;
		padding: 20px 0px 20px 0px;
		list-style: none;
		border-top: solid 1px #e1e8ed;
		border-bottom: solid 1px #e1e8ed;
		box-sizing: border-box;
	}

	&__info-elem{
		color: #222;
		font-size: 14px;
		position: relative;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;

		&:not(:first-of-type){
			margin-top: 10px;
		}
	}

	&__info-icon{
		width: 15px;
		height: 15px;
		margin-right: 5px;
		fill: silver;
	}
}