$theme-color: #1781E0;

.filter-box {
	width: 250px;
	position: relative;
	font-size: 14px;
	overflow-y: scroll;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;

	&--left{
		margin-right: 10px;
	}
	
	&__sticky{
		padding: 10px 0;
	}

	&__container{
		width: 100%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		box-sizing: border-box;	
		overflow: hidden;
	}

	&__group-name{
		padding: 10px 0px;
		color: #484848;
		font-weight: bold;
	}

	&__input-container{
		padding: 10px 5px;
		color: gray;
		border-radius: 2px;
		display: -webkit-inline-box;
		display: -webkit-inline-flex;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;

		&--hover{
			
			&:hover{
				color: #222;
				background: #e1e8ed;
			}
		}
	}

	&__input-name{
		margin-left: 10px;
	}
}

.filter-box__checkbox{
	&:checked{
		& + .filter-box__input-name{
			color: #5D6477;
			font-weight: bold;
		}
	}
}

/* @media screen and (max-width: 800px) {*/
/* 	.filter-box{*/
/* 		display: none;*/
/* 	}*/
/* }*/