.user-list {
  margin-top: 10px; }
  .user-list__header {
    padding: 8px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box; }
    .user-list__header--space-between {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
  .user-list__section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .user-list__counter {
    color: gray;
    font-size: 14px; }
  .user-list__icon-container {
    color: lightgray;
    fill: lightgray;
    font-size: 14px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer; }
    .user-list__icon-container:not(:first-of-type) {
      margin-left: 5px; }
    .user-list__icon-container:hover {
      color: #1781E0;
      fill: #1781E0; }
    .user-list__icon-container--active {
      color: #5D6477;
      fill: #5D6477; }
  .user-list__icon {
    width: 22px;
    height: 22px;
    fill: inherit; }
    .user-list__icon--space-right {
      margin-right: 5px; }

.list-container {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .list-container--grid-view {
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .list-container__item {
    padding: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: solid 1px #e1e8ed; }
    .list-container__item:last-of-type {
      border-bottom: none; }
  .list-container--grid-view .list-container__item {
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    box-sizing: border-box; }
  .list-container__detail-container {
    margin-left: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .list-container__item-image {
    width: 120px;
    height: 120px;
    background: white;
    border-radius: 50%;
    object-fit: contain; }
  .list-container__item-name {
    color: #484848;
    font-size: 25px;
    font-weight: bold; }
  .list-container__item-position {
    color: gray; }

/*# sourceMappingURL=index.css.map */
