body {
  margin: 0;
  padding: 0;
  min-width: 300px;
  font-family: sans-serif;
  background: #F5F8FA; }

a {
  text-decoration: none; }

hr {
  margin: 10px 0px;
  border: 0;
  border-bottom: solid 1px #e1e8ed; }

input::-webkit-input-placeholder {
  color: lightgray; }

input::-moz-placeholder {
  color: lightgray; }

input:-ms-input-placeholder {
  color: lightgray; }

input::placeholder {
  color: lightgray; }

.page {
  margin-top: 1px; }

.content {
  width: 100%;
  box-sizing: border-box; }
  .content__wrapper {
    padding: 0px 15px;
    margin: 0 auto;
    max-width: 1090px;
    box-sizing: border-box; }
    .content__wrapper--title {
      padding: 35px 15px; }
  .content__view-mobile {
    padding: 10px;
    background: white;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: solid 1px #e1e8ed; }

.content-head {
  margin-bottom: 20px;
  border: 0;
  border-bottom: solid 1px #e1e8ed; }
  .content-head--dark {
    background-color: #343436; }
  .content-head__title {
    margin: 0px;
    color: #484848;
    font-size: 20px;
    font-weight: normal; }
    .content-head__title--light-text {
      color: white; }
    .content-head__title--center-text {
      text-align: center; }
  .content-head__display-input {
    color: #1781E0;
    font-weight: bold; }
    .content-head__display-input:before, .content-head__display-input:after {
      content: '"'; }

.dropdown {
  padding: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: centr;
  position: relative;
  cursor: pointer; }
  .dropdown:hover .dropdown__toggle-icon {
    fill: #1781E0; }
  .dropdown--active .dropdown__toggle-icon {
    fill: #1781E0; }
  .dropdown--active .dropdown__menu {
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  .dropdown__toggle-icon {
    fill: #737373;
    width: 25px;
    height: 25px; }
    .dropdown__toggle-icon--xs {
      width: 20px;
      height: 20px; }
  .dropdown__menu {
    margin-top: 10px;
    padding: 10px 0px;
    width: 180px;
    background: white;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: -8px;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 0px rgba(1, 1, 1, 0.2);
    box-sizing: border-box;
    cursor: default;
    display: block;
    pointer-events: none;
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
    -webkit-transition: opacity .2s, -webkit-transform .2s ease-in;
    transition: opacity .2s, -webkit-transform .2s ease-in;
    transition: opacity .2s, transform .2s ease-in;
    transition: opacity .2s, transform .2s ease-in, -webkit-transform .2s ease-in; }
    .dropdown__menu:before {
      content: "";
      border: 10px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.1);
      position: absolute;
      top: -20px;
      left: 7px;
      right: auto; }
    .dropdown__menu:after {
      content: "";
      border: 9px solid transparent;
      border-bottom-color: white;
      position: absolute;
      top: -18px;
      left: 8px;
      right: auto; }
    .dropdown__menu--right {
      left: auto;
      right: -8px; }
      .dropdown__menu--right:before {
        left: auto;
        right: 7px; }
      .dropdown__menu--right:after {
        left: auto;
        right: 8px; }
  .dropdown__menu-item {
    padding: 10px 10px;
    width: 100%;
    color: #222;
    font-size: 14px;
    font-weight: normal;
    box-sizing: border-box;
    display: block;
    border-top: solid 1px transparent;
    border-bottom: solid 1px transparent; }
    .dropdown__menu-item:hover {
      color: white;
      background: #1781E0;
      border-top-color: #1574c9;
      border-bottom-color: #1574c9; }

/* Custom styles for react-day-picker*/
.DayPicker {
  outline: none; }
  .DayPicker-Caption {
    font-weight: bold; }
  .DayPicker-Month {
    margin-bottom: 15px; }
  .DayPicker-Day {
    color: #222;
    border-color: lightgray;
    outline: none; }
    .DayPicker-Day:empty {
      background: none;
      border: none; }
    .DayPicker-Day--past {
      color: silver;
      font-weight: normal; }
    .DayPicker-Day--future {
      color: #222; }
    .DayPicker-Day--today:not(.DayPicker-Day--outside) {
      color: #1781E0;
      position: relative; }
      .DayPicker-Day--today:not(.DayPicker-Day--outside):before {
        content: '';
        width: 100%;
        height: 3px;
        background-color: #1781E0;
        position: absolute;
        bottom: 0;
        left: 0; }
    .DayPicker-Day--sunday {
      /*
       * Sunday tag on Daypicker
       */ }
    .DayPicker-Day--saturday:not(:empty):not(.DayPicker-Day--sunday) {
      color: lightgray;
      background: #f7f8f8;
      position: relative; }
    .DayPicker-Day--selected:not(:empty) {
      color: #1781E0 !important;
      background-color: rgba(23, 129, 224, 0.1) !important;
      font-weight: bold;
      position: relative;
      z-index: 1; }
      .DayPicker-Day--selected:not(:empty):after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: -1px;
        top: -1px;
        border: solid 1px #1781E0; }
    .DayPicker-Day--absent:not(:empty):not(.DayPicker-Day--sunday) {
      color: silver;
      font-weight: bold;
      background: #E1E8ED; }
    .DayPicker-Day--late:not(:empty):not(.DayPicker-Day--sunday) {
      color: #fb607f;
      background: rgba(251, 96, 127, 0.2);
      font-weight: bold;
      position: relative; }
    .DayPicker-Day--event:not(:empty):not(.DayPicker-Day--sunday):not(.DayPicker-Day--late) {
      color: yellowgreen;
      background: rgba(154, 205, 50, 0.1);
      font-weight: bold;
      position: relative; }
    .DayPicker-Day--leave:not(:empty):not(.DayPicker-Day--sunday) {
      color: #feba4d;
      background: rgba(254, 186, 77, 0.1);
      font-weight: bold;
      position: relative; }
    .DayPicker-Day--holiday:not(:empty):not(.DayPicker-Day--sunday) {
      color: lightgray;
      background: #f7f8f8;
      font-weight: bold;
      position: relative; }

@media screen and (max-width: 600px) {
  .content-head__title {
    text-align: center; } }
/* Tablet responsive*/
@media screen and (max-width: 1200px) {
  .content__wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto; } }
/* Mobile Responsive*/
@media screen and (max-width: 800px) {
  .content__wrapper--mobile {
    padding: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .content__view-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

  .dropdown__menu {
    margin-top: 0;
    width: 100vw;
    top: 100%;
    left: 0;
    position: fixed;
    box-shadow: 0px 5px 5px 0px rgba(1, 1, 1, 0.1); }
    .dropdown__menu:before, .dropdown__menu:after {
      display: none; }
  .dropdown__menu-item {
    color: gray;
    font-size: 16px;
    font-weight: bold;
    text-align: center; } }

/*# sourceMappingURL=index.css.map */
