$placeholder-color: lightgray;
$input-color: black;
$shadow-color: #83C2FF;
$theme-color: #1781E0;
$content-width: 1090px;

body {
	margin: 0;
	padding: 0;
	min-width: 800px;
	font-family: sans-serif;
	background: #F5F8FA;
}

hr{
	margin: 10px 0px;
	border: 0;
	border-bottom: solid 1px #e1e8ed;
}

input[type="text"]{
	padding: 0 8px;
	height: 30px;
	color: $input-color;
	background: #F8F8F8;
	font-size: 13px;
	outline: none;
	box-sizing: border-box;
	border: 1px solid #e1e8ed;
	border-radius: 2px;

	&:focus{
		border-color: $shadow-color;
		box-shadow: 0px 0px 3px 0px $shadow-color;
	}
}

input::-webkit-input-placeholder{
	color: $placeholder-color;
}

input::-moz-placeholder{
	color: $placeholder-color;
}

input:-ms-input-placeholder{
	color: $placeholder-color;
}

input::placeholder{
	color: $placeholder-color;
}

.page{
	margin-top: 1px;
}

.content{
	width: 100%;
	box-sizing: border-box;
	
	&__wrapper{
		padding: 0px 15px;
		margin: 0 auto;
		max-width: $content-width;
		box-sizing: border-box;

		&--title{
			padding: 35px 15px;
		}
	}
}

.content-head{
	margin-bottom: 20px;
	border: 0;
	border-bottom: solid 1px #e1e8ed;

	&--dark{
		background-color: #343436; 
	}

	&__title{
		margin: 0px;
		color: #484848;
		font-size: 20px;
		font-weight: normal;

		&--light-text{
			color: white;
		}

		&--center-text{
			text-align: center;
		}
	}
}