$placeholder-color: lightgray;
$input-color: black;
$shadow-color: #83C2FF;
$theme-color: #1781E0;
$content-width: 1090px;

body {
	margin: 0;
	padding: 0;
	min-width: 300px;
	font-family: sans-serif;
	background: #F5F8FA;
}

a{
	text-decoration: none;
}

hr{
	margin: 10px 0px;
	border: 0;
	border-bottom: solid 1px #e1e8ed;
}

input::-webkit-input-placeholder{
	color: $placeholder-color;
}

input::-moz-placeholder{
	color: $placeholder-color;
}

input:-ms-input-placeholder{
	color: $placeholder-color;
}

input::placeholder{
	color: $placeholder-color;
}

.page{
	margin-top: 1px;
}

.content{
	width: 100%;
	box-sizing: border-box;
	
	&__wrapper{
		padding: 0px 15px;
		margin: 0 auto;
		max-width: $content-width;
		box-sizing: border-box;

		&--title{
			padding: 35px 15px;
		}
	}


	&__view-mobile{
		padding: 10px;
		background: white;
		display: none;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		box-sizing: border-box;
		border-bottom: solid 1px #e1e8ed;
	}
}

.content-head{
	margin-bottom: 20px;
	border: 0;
	border-bottom: solid 1px #e1e8ed;

	&--dark{
		background-color: #343436; 
	}

	&__title{
		margin: 0px;
		color: #484848;
		font-size: 20px;
		font-weight: normal;

		&--light-text{
			color: white;
		}

		&--center-text{
			text-align: center;
		}
	}

	&__display-input{
		color: $theme-color;
		font-weight: bold;

		&:before, &:after{
			content: '"';
		}
	}
}

.dropdown{
	padding: 0px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: centr;
	position: relative;
	cursor: pointer;

	&:hover{
		& .dropdown__toggle-icon{
			fill: $theme-color;
		}
	}

	&--active{
		& .dropdown__toggle-icon{
			fill: $theme-color;	
		}

		& .dropdown__menu{
			opacity: 1;
			pointer-events: all;
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
		}
	}

	&__toggle-icon{
		fill: #737373;
		width: 25px;
		height: 25px;

		&--xs{
			width: 20px;
			height: 20px;
		}
	}

	&__menu{
		margin-top: 10px;
		padding: 10px 0px;
		width: 180px;
		background: white;
		opacity: 0;
		position: absolute;
		top: 100%;
		left: 0;
		right: -8px;
		border-radius: 2px;
		box-shadow: 0px 0px 5px 0px rgba(1,1,1,.2);
		box-sizing: border-box;
		cursor: default;
		display: block;
		pointer-events: none;
		-webkit-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		transform: translateY(-15px);
		-webkit-transition: opacity .2s, -webkit-transform .2s ease-in;
		transition: opacity .2s, -webkit-transform .2s ease-in;
		transition: opacity .2s, transform .2s ease-in;
		transition: opacity .2s, transform .2s ease-in, -webkit-transform .2s ease-in;

		&:before{
			content: "";
			border: 10px solid transparent;
			border-bottom-color: rgba(0,0,0,.1);
			position: absolute;
			top: -20px;
			left: 7px;
			right: auto;
		}

		&:after{
			content: "";
			border: 9px solid transparent;
			border-bottom-color: white;
			position: absolute;
			top: -18px;
			left: 8px;
			right: auto;
		}
		
		&--right{
			left: auto;
			right: -8px;

			&:before{
				left: auto;
				right: 7px;
			}

			&:after{
				left: auto;
				right: 8px;
			}
		}
	}

	&__menu-item{
		padding: 10px 10px;
		width: 100%;
		color: #222;
		font-size: 14px;
		font-weight: normal;
		box-sizing: border-box;
		display: block;
		border-top: solid 1px transparent;
		border-bottom: solid 1px transparent;

		&:hover{
			color: white;
			background: $theme-color;
			border-top-color: darken($theme-color, 5%);
			border-bottom-color: darken($theme-color, 5%);
		}
	}
}

/* Custom styles for react-day-picker*/
.DayPicker{
	outline: none;

	&-Caption{
		font-weight: bold;
	}

	&-Month{
		margin-bottom: 15px;
	}

	&-Day{
		color: #222;
		border-color: lightgray;
		outline: none;
		
		&:empty{
			background: none;
			border: none;
		}

		&--past{
			color: silver;
			font-weight: normal;
		}

		&--future{
			color: #222;
		}

		&--today:not(.DayPicker-Day--outside){
			 color: $theme-color;
			 position: relative;
			
			 &:before{
			 	content: '';
			 	width: 100%;
			 	height: 3px;
			 	background-color: $theme-color;
			 	position: absolute;
			 	bottom: 0;
			 	left: 0;
			 }
		}

		&--sunday{
			/*
			 * Sunday tag on Daypicker
			 */
		}

		&--saturday:not(:empty):not(.DayPicker-Day--sunday){
			color: lightgray;
			background: #f7f8f8;
			position: relative;
		}

		&--selected:not(:empty){
			color: $theme-color !important;
			background-color: rgba(23, 129, 224, .1) !important;
			font-weight: bold;
			position: relative;
			z-index: 1;

			&:after{
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				left: -1px;
				top: -1px;
				border: solid 1px $theme-color;
			}
		}

		&--absent:not(:empty):not(.DayPicker-Day--sunday){
			color: silver;
			font-weight: bold;
			background: #E1E8ED;
		}

		&--late:not(:empty):not(.DayPicker-Day--sunday){
			color: rgba(251, 96, 127, 1);
			background: rgba(251, 96, 127, .2);
			font-weight: bold;
			position: relative;
		}

		&--event:not(:empty):not(.DayPicker-Day--sunday):not(.DayPicker-Day--late){
			color: rgba(154, 205, 50, 1);
			background: rgba(154, 205, 50, .1);
			font-weight: bold;
			position: relative;
		}

		&--leave:not(:empty):not(.DayPicker-Day--sunday){
			color: rgba(254, 186, 77, 1);
			background: rgba(254, 186, 77, .1);
			font-weight: bold;
			position: relative;
		}

		&--holiday:not(:empty):not(.DayPicker-Day--sunday){
			color: lightgray;
			background: #f7f8f8;
			font-weight: bold;
			position: relative;
		}
	}
}

@media screen and (max-width: 600px) {
	.content-head__title{
		text-align: center;
	}	
}

/* Tablet responsive*/
@media screen and (max-width: 1200px) {
	.content{
		&__wrapper{
			width: 100%;
			max-width: 800px;
			margin: 0 auto;
		}
	}	
}

/* Mobile Responsive*/
@media screen and (max-width: 800px) {
	.content{
		&__wrapper--mobile{
			padding: 0;
			-webkit-box-pack: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
		}

		&__view-mobile{
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
		}
	}

	.dropdown{
		&__menu{
			margin-top: 0;
			width: 100vw;
			top: 100%;
			left: 0;
			position: fixed; 
			box-shadow: 0px 5px 5px 0px rgba(1,1,1,.1);

			&:before,&:after{
				display: none;
			}
		}
		&__menu-item{
			color: gray;
			font-size: 16px;
			font-weight: bold;
			text-align: center;
		}
	}
}