$glow-color: #83C2FF;
$theme-color: #1781E0;
$input-color: black;
$shadow-color: #83C2FF;

.searchbox{
	margin-left: 15px;
	position: relative;
	
	&__input{
		padding: 0 10px 0 30px;
		width: 300px;
		height: 30px;
		color: $input-color;
		font-size: 13px;
		background: url(./magnify.svg) no-repeat scroll 8px 50%;
		background-color: #F8F8F8;
		background-size: 15px;
		outline: none;
		box-sizing: border-box;
		border: 1px solid #e1e8ed;
		border-radius: 2px;
		box-shadow: none;

		&:focus{
			border-color: $shadow-color;
			box-shadow: 0px 0px 3px 0px $shadow-color;
		}

		&--active{
			border-color: #83C2FF;
			box-shadow: 0px 0px 5px 0px #83C2FF;	
		}

		&--loading{
			background: none;
			background-color: #F8F8F8;
		}
	}

	&__loading-icon{
		width: 24px;
		height: 24px;
		position: absolute;
		top: 3px;
		left: 4px;
	}
}
