$glow-color: #83C2FF;
$theme-color: #1781E0;

.searchbox{
	margin-left: 15px;
	position: relative;
	
	&__input{
		width: 350px;

		&--active{
			border-color: #83C2FF;
			box-shadow: 0px 0px 5px 0px #83C2FF;	
		}
	}
}
